* {
    box-sizing: border-box;
}

:root {
    --font_heading: "Sen", sans-serif;
    --primary_color: #FFB900;
}

html {
    /* Quy đổi 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
}



/* =======================Common======================= */

a {
    text-decoration: none;
}

.mainContent {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    color: #fff;
    background-color: #171000;
    text-align: center;
    display: inline-block;
    padding: 0px 16px;
    border-radius: 999px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.watchVideo {
    display: flex;
}

.headinglv2 {
    color: #171717;
    font-family: var(--font_heading);
    font-size: 3.8rem;
    font-weight: 700px;
    line-height: 1.27;
    letter-spacing: -0.76px;
}

.lineClamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--lineClamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.lineClamp.line2 {
    --lineClamp: 2;
}

.breakeall {
    word-break: break-all;
}

/* =======================Header======================= */

.header {
    /* background: rgb(0, 255, 255);
    background: linear-gradient(90deg, rgba(0, 255, 255, 1) 0%, rgba(9, 35, 121, 1) 80%, rgba(62, 62, 62, 1) 100%); */
    background: #fffcf4;
}

.logoweb {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1000;
}

.bodyHeader {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #5f5b53;
    font-size: 1.6rem;
    padding: 8px 21px;
    position: relative;
}

.nav li.active a,
.nav a:hover {
    color: #171717;
    font-weight: 600;
}

.nav li.active a::after {
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171717;
    position: absolute;
    left: 21px;
    bottom: 6px;
}

.header.btnSignup {
    min-width: 144px;
}

.header.action {
    margin-left: 49px;
}

/* =======================Hero======================= */

.hero {
    padding-top: 56px 0 65px;
    background: #fffcf4;
}

.hero .bodyHero {
    display: flex;
}

/* =======================Hero Left======================= */


.hero .mediaBlock {
    width: 48%;
    position: relative;
}

.hero .contentBlock {
    width: 52%;
}

.hero .mediaBlock .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .heroSumary {
    padding: 24px;
    width: 270px;
    position: absolute;
    bottom: 48px;
    right: 0px;
    border-radius: 12px;
    background-color: #ffffff;
}

.heroSumary .item {
    display: flex;
}

/* Viết như này có thể hiểu là sẽ tác động vào class item đứng sau 1 class item  */
.heroSumary .item+.item {
    margin-top: 22px;
}

.heroSumary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroSumary .info {
    margin-left: 16px;
}

.heroSumary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 186%;
}

.heroSumary .tittle {
    color: #171717;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

/* =======================Hero Right======================= */

.hero .contentBlock {
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.hero .heading {
    color: #171717;
    font-family: var(--font_heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
}

.hero .descripsion {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 167%;
}

.hero .cta_gr {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero .cta_gr img {
    width: 24px;
    height: 24px;
    border-radius: 999px;
}

.btnHero {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary_color);
}

.hero .watchVideo {
    margin-left: 28px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero .watchVideo span {
    color: #171000;
    font-size: 1.8rem;
    font-weight: 600px;
    line-height: 1.67;
    margin-left: 14px;
}

.hero .desc1 {
    margin-top: 48px;
}

.hero .desc2 strong {
    margin-right: 15px;
    color: #171717;
    font-family: var(--font_heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}

.hero .desc2 {
    margin-top: 8px;
}

.hero .desc2 strong:nth-child(2) {
    margin-left: 28px;
}

/* =======================Popular======================= */

.popular {
    padding: 65px 0;
    margin-top: 138px;
}

.popularTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popularTop .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 167%;
    width: 458px;
}

.popularTop .controlBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: var(--primary_color) 1px solid;
    background: transparent;
}

.popularTop .controlBtn:hover {
    background: var(--primary_color);
    cursor: pointer;
}

.popularTop .control {
    display: flex;
    gap: 18px;
}

.popular .courseList {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.popular .courseItem .thumb {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .courseItem {
    border-radius: 12px;
    background: #fff;
    border: solid 1px #e2dfda;
    flex: 1;
}

.popular .courseItem:hover {
    box-shadow: 0px 18px 36px 0px;
    border: solid 1px transparent;
}

.popular .info .start {
    width: 24px;
    height: 24px;
}

.popular .courseItem .info {
    padding: 16px 22px 22px;
}

.popular .courseItem .foot,
.popular .courseItem .rating,
.popular .courseItem .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .courseItem .tittle {
    color: #171000;
    font-size: 1.8rem;
    line-height: 1.67;
    font-weight: 600;
}

.popular .info .head {
    display: flex;
}

.popular .rating .value {
    margin-left: 6px;
    color: #fea31b;
    font-size: 16px;
    line-height: 1.75;
}

.popular .courseItem .descripsion {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.86;
}

.popular .courseItem .foot {
    margin-top: 12px;
}

.popular .courseItem .price {
    color: #171000;
    font-size: 1.8rem;
    line-height: 1.67;
    font-weight: 600;
}

.popular .courseItem .bookBtn {
    border: none;
}

.popular .courseItem .bookBtn:hover {
    background: var(--primary_color);
}

/* =======================Feedback======================= */

.feedback {
    margin-top: 135px;
    padding: 96px 0px;
    background: #2e2100;
}

.feedbackList {
    display: flex;
    overflow: hidden;
}

.feedbackItem {
    display: flex;
    flex-shrink: 0;
}

.feedback .feedbackItem .content .quote {
    width: 30px;
    height: 24px;
}

.feedback .feedbackItem .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    clip-path: circle(50%);
}

.feedbackItem .info .memberName {
    margin-top: 18px;
    color: #f7f7f7;
    font-size: 2.4rem;
    line-height: 1.42;
    font-weight: 700;
    font-family: var(--font_heading);
}

.feedbackItem .info .descripsion {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.feedbackItem .info .dots {
    gap: 6px;
    display: flex;
    margin-top: 28px;
}

.feedbackItem .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedbackItem .dot.active {
    background: var(--primary_color);
    cursor: default;
}

.feedbackItem .content {
    width: 66%;
    margin-left: auto;
}

.feedbackItem blockquote {
    color: #fff;
    font-size: 2.6rem;
    line-height: 1.54;
    font-style: italic;
}

/* =======================Features 1======================= */

.features {
    margin-top: 135px;
    padding: 65px 0px;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .image {
    display: flex;
    gap: 30px;
}

.features .image img {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border: 1px solid black;
}

.features .lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features .descripsion {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .featuresBtn {
    width: 137px;
    height: 50px;
    margin-top: 32px;
    background: var(--primary_color);
}

/* =======================Features 2======================= */

.fe2 {
    margin-top: 70px;
}

.fe2 .body {
    flex-direction: row-reverse;
}

.fe2 .content {
    width: 49%;
}

.fe2 .image img {
    width: 470px;
    height: 440px;
    object-fit: contain;
}

/* =======================Blog======================= */

.blog {
    margin-top: 135px;
    padding: 96px 0px;
    background: #fffcf4;
}

.blogTop {
    text-align: center;
}

.blog .blogTop .descripsion {
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75;
    width: 448px;
    margin: 16px auto 0;
}

.blog .blogList {
    display: flex;
    margin-top: 55px;
    gap: 30px;
    overflow: hidden;
}

.blog .item {
    width: calc(33.33% - 20px);
    border-radius: 16px;
    background: #fff;
    flex-shrink: 0;
}

.blog .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .item .info {
    padding: 20px 20px 28px;
}

.blog .item .date {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-bottom: 12px;
}

.blog .item .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary_color);
    margin-right: 4px;
}

.blog .item .date::after {
    content: "";
    display: inline-block;
    right: -27px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
    position: absolute;
    left: 0;
    bottom: 0;
}

.blog .item .tittle {
    margin-top: 12px;
    color: #171000;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.blog .item .btn {
    margin-top: 12px;
    font-size: 1.4rem;
}

.blog .item .btn:hover {
    background: var(--primary_color);
}

.blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 38px;
}

.blog .dot {
    width: 6px;
    height: 6px;
    background: #5f5b53;
    border-radius: 50%;
    cursor: pointer;
}

.blog .dot.active {
    background: var(--primary_color);
    cursor: default;
}

/* =======================Footer======================= */

.footer {
    background: #2e2100;
    padding: 96px 135px 0;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .logo {
    width: 32px;
    height: 32px;
}

.footer a .icon {
    height: 30px;
    width: 30px;
}

.footer .row .column:first-child {
    width: 35%;
}

.footer .row .column {
    width: 21.6%;
}

.footer .descripsion {
    margin-top: 18px;
    max-width: 267px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .social {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer .tittle {
    display: inline-block;
    padding-right: -48px;
    padding-bottom: 14px;
    border-bottom: #59554b solid 1px;
    color: #fff;
    line-height: 1.75;
    font-size: 1.6rem;
    font-weight: 600;
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    display: inline-block;
    margin-bottom: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer .list li:last-child {
    margin-bottom: 0;
}

.footer .copyright {
    padding: 28px 0;
    color: #807d74;
    text-align: center;
    line-height: 1.86;
    font-size: 1.4rem;
}